/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Build]/
/[Builds]/
/[Logs]/
/[MemoryCaptures]/

# Asset meta files must be kept, even if they contain no configuration
!/[Aa]ssets/**/*.meta

# User-specific files
UserSettings/
.vs/
.vscode/
*.csproj
*.sln
*.user
*.userprefs